body {
  background-color: gray;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: capitalize;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-transform: lowercase;
}
